.flex-hero {
    position: fixed;
    z-index: 20;
    display: flex;
    overflow: hidden;
    width: 50%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    border-right: 10px solid #000;
    background-color: #fefaf7;
    box-shadow: 5px 0 150px 0 rgb(51 48 44 / 5%);
}

.block-hero {
    display: flex;
    width: 42vw;
    margin: 90px 4vw 4vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.heading-hero {
    max-width: 850px;
    font-family: "Changa One", Impact, sans-serif;
    color: #222;
    font-size: 5.5vw;
    line-height: 100%;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.paragraph-large {
    max-width: 570px;
    font-family: "Changa One", Impact, sans-serif;
    color: #222;
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    text-shadow: 0 0 11px #faefe5;
}

.heading-7.presale {
    padding: 2.5px 15px;
    border-radius: 5px;
    background-color: #bf1a46;
    color: #fff;
}

.heading-7 {
    font-family: "Changa One", Impact, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 135%;
    font-weight: 400;
}

.transformed-hero {
    /* max-height: 100vh;   */
    position: relative;
    overflow: hidden !important;
    perspective: 1700px;
    margin: auto !important;
}

.section-hero {
    display: flex;
    margin-top: auto;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform-origin: 50% 0%;
    min-height: 100vh;
    z-index: 25;
}


.grid-hero {
    display: grid;
    width: 100%;
    min-height: 100vh;
    align-items: start;
    grid-auto-flow: column;
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.w-layout-grid {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100vh;
    margin: auto !important; */

    display: grid;
    /* grid-auto-columns: 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: auto auto;
    grid-row-gap: 16px; */
    /* grid-column-gap: 16px; */
}

.grid-hero---row-1 {
    display: flex;
    flex-direction: column;
}

.grid-hero---row-2 {
    margin-top: 12vh;
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.grid-hero---row-3 {
    align-items: start;
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.grid-hero---row-4 {
    margin-top: 12vh;
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.image-hero {
    width: 12rem !important;
    border: 10px solid #222;
    border-radius: 20px;
    background-color: #222;
    margin: 1rem;
}

/* img {
    border: 0;
    max-width: 10rem;
    vertical-align: middle;
    display: inline-block;
} */